# Gradle / build
.gradle/
build/
bin/
*.class

# Logs
*.log
logs/

# OS / IDE (선택)
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# Spring secret config
src/main/resources/application.yml
src/main/resources/application-secret.yml
src/main/resources/application-local.yml
src/main/resources/application-prod.yml
src/main/resources/templates/

# Env files
.env
.env.*
!.env.example
# IntelliJ build output
out/
