# Gradle / build
.gradle/
build/
*.class

# Logs
*.log
logs/

# OS / IDE (선택)
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# Spring secret config
src/main/resources/application-secret.yml

# Env files
.env
.env.*
!.env.example